body{
    /*background-image: url('image/pp.jpg');*/
    background-size: cover;


}

.rr{
    background-color: rgb(7, 53, 139);
    position: fixed;top: 0%;
    left: 0%;right: 0%;
    text-align: center;
    border-radius: 20%;

}

li{
    display: inline;
    padding: 0.5%;
    margin: 2%;
    font-size: large;
    color: lightcoral;
    cursor:grabbing;
}
li:hover{background-color: cornsilk;
    border-radius: 20px;}

.u{color: rgba(6, 18, 122, 0.5);
    font-weight:bold;
    font-size: larger;}



.l{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: larger;
    margin: 3%;


}
i{
    font-size: larger;font-weight:bold;margin: 0.2%;


}
i,.l{margin: 1%;}


.t{font-weight: bold;
    font-size:xx-large;
}
.t,.e{display: inline block;}

img{margin: 1%;display: block;}

.rrr{
        font-size: larger;
        color: rgba(13, 4, 138, 0.5);
       
}


.kk{
     display: inline-block;
    color: rgb(233, 5, 5);
    font-size:larger;
}